<!-- app.component.html -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
     <label for="name">Name:</label>
     <input id="name" type="text" formControlName="name" />
     <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
       Name is required
     </div>
  </div><br>
  <div>
     <label for="email">Email:</label>
     <input id="email" type="email" formControlName="email" />
     <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
       Please enter a valid email
     </div>
  </div><br><br>
  <div>
    <label for="languages">Programming Languages:</label><br>
    <input type="checkbox" name="languages" value="c++" ngModel required formControlName="lan">
    c++<br>
    <input type="checkbox" name="languages" value="java" ngModel required formControlName="lan">
    java<br>
    <input type="checkbox" name="languages" value="python" ngModel required formControlName="lan">
    python<br>
    <input type="checkbox" name="languages" value="javascript" ngModel required formControlName="lan">
    javascript>
    <div *ngIf="form.get('languages')?.invalid && form.get('languages')?.touched" formControlName="lan">
      Please select at least one programming language
    </div>
  </div><br><br>
  <div>
     <label for="experience">Experience Level:</label>
     <div *ngFor="let level of experienceLevels; let i = index">
       <input [id]="'experience' + i" [value]="level" type="radio" formControlName="experience" />
       <label [for]="'experience' + i">{{level}}</label>
     </div>
  </div><br><br>
  <div>
     <label for="project">Project Description:</label><br>
     <textarea id="project" formControlName="project"></textarea>
     <div *ngIf="form.get('project')?.invalid && form.get('project')?.touched">
       Project description must be at least 10 characters long
     </div>
  </div><br>
  <button type="submit" [disabled]="form.invalid">Submit</button>
 </form>
 <div *ngIf="success">
  <p>{{success}}</p>
 </div>